/* Estilos específicos para la accesibilidad y el tacto */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  text-transform: uppercase;
}
.touch-button {
  min-height: 150px;
  min-width: 120px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--text-dark);
  font-size: 1.75rem; 
  font-weight: 700;
}

.touch-button:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
}
.screen {
  display: none;
  /* min-height: calc(100vh - 80px - 100px); */
  overflow-y: auto;
  padding-top: 1rem;
}
.active-screen {
  display: flex;
}
.picto-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 8px;
}
